.dark-mode canvas {
	filter: invert(1) hue-rotate(180deg);
	background-color: blueviolet !important;
}

.react-pdf__Page__canvas {
	height: 100% !important;
	width: 100% !important;
	/* allow scrolling */
	/* overflow: visible !important; */
}
