/cloud-harness
.idea
**/helm
build/
.vscode
skaffold.yaml
/deployment.yaml
**/__pycache__
**/*.egg-info
/build
applications/workspaces/backend/static
.overrides
**/*.sqlite3
applications/portal/frontend/src/assets/atlas/salk_cord_10um/*
applications/portal/backend/persistent/*