/cloud-harness
.idea
**/helm
build/
.vscode
skaffold.yaml
/deployment.yaml
**/__pycache__
**/*.egg-info
/build
applications/workspaces/backend/static
.overrides
**/*.sqlite3
/applications/salk-portal/geppetto-meta/
