bg-atlasapi==1.0.2
django-dry-rest-permissions==1.2.0
django-postgrespool2==2.0.5
djangorestframework>=3.14.0
SQLAlchemy<2
psycopg2-binary==2.9.3
uritemplate==4.1.1
matplotlib==3.8.0
scikit-image==0.21.0