Django==3.2.11
djangorestframework==3.13.1
coreapi==2.3.3
pyyaml
uritemplate==4.1.1
cherrypy==18.6.1

mozilla-django-oidc

Pillow
psycopg2-binary

django-admin-extra-buttons

# temporary use this fork of python keycloak
# because of bug: https://github.com/marcospereirampj/python-keycloak/pull/267
git+https://github.com/coelias/python-keycloak
